body {
    font-size: 36pt;
    font-family: sans-serif;
}

button {
    font-size: 18pt;
}

#next {
    text-align: right;
    visibility: hidden;
    font-size: 18pt;
}

#next a {
    text-decoration-line: none;
}

#button-table {
    width: 100%;
}
